[Unit]
Description=DismalOrinMonitoring
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/administrator/Desktop/CNC/dismalHAASCNC/sfcnc.py
WorkingDirectory=/home/administrator/Desktop/CNC/dismalHAASCNC/
User=root
Group=root
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/home/administrator/Desktop/CNC/dismalHAASCNC/output.log
StandardError=append:/home/administrator/Desktop/CNC/dismalHAASCNC/error.log


[Install]
WantedBy=multi-user.target
